Source: idle-runner
Section: x11
Priority: optional
Maintainer: Michael Webster <miketwebster@gmail.com>
Build-Depends:
 debhelper (>= 10),
 dh-python,
 dpkg-dev (>= 1.15.1),
 meson,
 python3
Standards-Version: 3.9.6
Homepage: https://github.com/mtwebster/idle-runner

Package: idle-runner
Section: x11
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends:
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 dconf-gsettings-backend,
 ${misc:Depends},
Description: Executes a user-specified script when the session goes idle.

